<footer class="main-footer">
  <div class="wrapper">
    <div class="company-info">
      <h3 class="company-title">{{ i18n "companyName" }}</h3>
      <p class="company-description">{{ i18n "companyDescription" }}</p>
      <address>
        Barlingshult 31<br>
        Södra Ögården<br>
        672 93 Årjäng
      </address><br>
      <p><em>{{ i18n "companyTax" }}</em></p>
    </div>
    <section class="contact-information">
      <h3>{{ i18n "contact" }}</h3>
      <address>
        <a href="mailto:info@vufuzi.se"><span class="material-icons">mail</span>info@vufuzi.se</a>
        <a href="tel:0046725039148"><span class="material-icons">phone</span>072-503 91 48</a>
      </address>
    </section>
  </div>
</footer>
