<footer class="main-footer">
  <!--<figure class="map">
    <img src="http://api.tiles.mapbox.com/v4/karlsson.6d19e7f6/12.590883,59.658782,13/640x200@2x.png?access_token=pk.eyJ1Ijoia2FybHNzb24iLCJhIjoiUEZfWDUyOCJ9.jOGoqS-LkSKEhYENOzQDCQ" alt="Map" class="map" />
  </figure>-->
  <div class="wrapper">
    <div class="company-info">
      <h3 class="company-title">{{ i18n "companyName" }}</h3>
      <p class="company-description">{{ i18n "companyDescription" }}</p>
      <address>
        Barlingshult 31<br>
        Södra Ögården<br>
        672 93 Årjäng
      </address><br>
      <p><em>{{ i18n "companyTax" }}</em></p>
    </div>
    <section class="contact-information">
      <h3>{{ i18n "contact" }}</h3>
      <address>
        <a href="mailto:info@vufuzi.se"><span class="material-icons">mail</span>info@vufuzi.se</a>
        <a href="tel:0046725039148"><span class="material-icons">phone</span>072-503 91 48</a>
      </address>
    </section>
  </div>
</footer>
